// Place all the styles related to the drivings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red_hours {
  color: #000 !important;
  background: #ffb8b8 !important;
}

.yellow_hours {
  color: #000 !important;
  background: #ffe6a0 !important;
}

.green_hours {
  color: #000 !important;
  background: #b1ffbb !important;
}

.form_simple_driving {
  margin-bottom: 20px;
}